* {
  font-family: Roboto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 950px;
  height: 50px;
  background-color: #3e1111;
}

.headerlogo {
  color: #E5E7EB;
  font-size: 18px;
  margin: 0;
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
  border: 0;
  padding: 0;
}  

.section-1 {
  height: 535px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  background-color: #3e1111;
}

.section-1-left {
  padding-bottom: 50px;
}

h1 {
  color: #F9FAF8;
  font-size: 60px;
  font-weight: 800;
  margin: 0;
  font-family: Papyrus
}

.subtext {
  font-size: 20px;
  color: #E5E7EB;
}

button {
  background-color: #eac86b;
  border-radius: 08px;
  color: #000000;
  padding: 8px 25px;
}

.titlepic {
    width: 550px;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 1px rgb(174, 170, 53);
}

/* PART 2 BELOW */



.top-10 {
    Display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(166, 166, 166);
    font-size: 30px;
    font-weight: 700;
    padding-top: 55px;
    padding-bottom: 45px;
    
    
}

.section-2 {
    height: 380px;
    background-color: rgb(166, 166, 166);
}

.fourpics {
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
    padding: 0;
    margin: 0;

}

.S2pics {
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgb(255, 255, 255);
}

.subtext-2 {
    font-size: 22px;
    max-width: 290px;
    color: #000000;
    padding-top: 20px;
    
}

